{% extends 'base.html' %}

{% block title %}Consulta Inventario{% endblock %}

{% block content %}
<h1 class="text-white mb-4">Gestión de Inventario</h1>

<div class="d-flex justify-content-center gap-4 flex-wrap mt-4">
    <div class="card text-white p-4 rounded" style="width: 250px; background-color: #4B0082;">
        <p class="h5">Consultar artículo</p>
        <a href="{% url 'consultar_por_codigo' %}" class="btn btn-warning mt-3 fw-bold">Ingresar</a>
    </div>
    <div class="card text-white p-4 rounded" style="width: 250px; background-color: #4B0082;">
        <p class="h5">Consultar por tipo y talla</p>
        <a href="{% url 'consultar_por_tipo' %}" class="btn btn-warning mt-3 fw-bold">Ingresar</a>
    </div>
</div>
{% endblock %}
