{% extends 'base.html' %}

{% block title %}Agregar Vendedor{% endblock %}

{% block content %}
<h2 class="text-white mt-4">Agregar Vendedor</h2>
<form method="post">
  {% csrf_token %}
  <input type="text" name="id_vendedor" placeholder="ID del vendedor" required>
  <input type="text" name="nombre" placeholder="Nombre del vendedor" required>
  <input type="text" name="apellido" placeholder="Apellido del vendedor" required>
  <button type="submit" class="btn btn-warning">Guardar</button>
</form>
{% if mensaje %}
  <p class="mt-2 text-white">{{ mensaje }}</p>
{% endif %}
{% endblock %}
